
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

button {
    background-color: rgb(5, 120, 228);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

legend{
    color: rgb(5, 124, 202);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}